body,
html {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
.breath {
  -webkit-animation-name: breath;
          animation-name: breath;
}
@-webkit-keyframes breath {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes breath {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.loading {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5889da;
}
.loading .loading_player {
  width: 297px;
  height: 170px;
  left: 124px;
  top: 356px;
  position: absolute;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background: url(../img/loading.png) no-repeat;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 9999;
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -297px 0;
  }
  100% {
    background-position: -594px 0;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -297px 0;
  }
  100% {
    background-position: -594px 0;
  }
}
.loading .progress-num {
  color: #fff;
  font-family: 微软雅黑;
  font-weight: bold;
  font-size: 50px;
  left: 0;
  top: 588px;
  position: absolute;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}
#icon {
  width: 100%;
  height: 100%;
}
#heading {
  padding: 20px 20px 40px;
  background: #024;
}
#heading > a {
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  background: #036;
  padding: 25px 30px;
  font-size: 22px;
}
h1 {
  font-size: 44px;
  line-height: 1.5;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
}
p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: normal;
}
p > a {
  color: #FFF;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dashed #FFF;
}
#icon {
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 850px;
  background: #FFF;
  margin: auto;
  padding: 60px;
}
#options {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}
.option {
  width: 400px;
  display: block;
  margin: auto;
  overflow: hidden;
  text-align: left;
}
label {
  text-align: right;
  display: inline-block;
  font-size: 20px;
  width: 100px;
}
select {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  padding: 10px;
  color: #333;
  display: inline-block;
  margin: 10px;
}
#links {
  margin-bottom: 80px;
}
#links,
#links > a {
  font-family: Arial;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
}
@media (max-width: 500px) {
  #heading {
    padding: 10px 10px 30px;
  }
  #heading > a {
    margin-top: 15px;
    padding: 15px 20px;
    font-size: 16px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  #icon {
    height: 150px;
    padding: 30px;
  }
  #options {
    margin-top: 35px;
  }
  .option {
    width: 300px;
  }
  label {
    width: 75px;
  }
  select {
    padding: 8px;
  }
  label,
  select {
    font-size: 14px;
  }
  #links,
  #links > a {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  #heading > a {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  #icon {
    height: 120px;
    padding: 20px;
  }
  #options {
    margin-top: 25px;
  }
  .option {
    width: 850px;
  }
  label {
    width: 50px;
  }
  select {
    padding: 6px;
  }
  label,
  select {
    font-size: 12px;
  }
  #links,
  #links > a {
    font-size: 10px;
  }
}
.optins {
  display: none;
}
